[Desktop Entry]
Type=Application
Exec=/usr/bin/acreetionos-welcome.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Acreetion OS Welcome
Comment=First boot welcome popup explaining Acreetion OS
Categories=System;Utility;
Terminal=false
