[Desktop Entry]
Type=Application
Exec=/usr/bin/xlibre-welcome.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=XLibre Welcome
Comment=First boot welcome popup explaining XLibre
Categories=System;Utility;
Terminal=false
